# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.settings
/.idea
/bin
Estrutura de Dados2.eml
Estrutura de Dados2.iml
Estrutura de Dados2.userlibraries